[core]
	autocrlf = input
	whitespace = trailing-space,space-before-tab
	commentchar = ;
[pull]
	rebase = true
[push]
	default = current
[fetch]
	prune = true
[rebase]
	autostash = true
[branch]
	autosetuprebase = always
[commit]
	template = .github/commit-template
[help]
	autocorrect = 1
[log]
	abbrevCommit = true